data/location.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://wadl.dev.java.net/2009/02 wadl.xsd">
  <resources base="https://www.rejseplanen.dk/api/">
    <resource path="location.name">
      <method name="GET">
        <request>
          <param name="accessId" required="true" style="query" type="xsd:string">
            <doc><![CDATA[Access ID for identifying the requesting client. String not longer than 128.]]></doc>
          </param>
          <param name="aid" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Access ID that overrides the security value from the configuration. String not longer than 64.]]></doc>
          </param>
          <param name="requestId" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Request ID for identifying the request. String not longer than 2048.]]></doc>
          </param>
          <param name="format" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Requested response format. If not set, the Accept-Header is used. If both are missing application/xml is used]]></doc>
          </param>
          <param name="jsonpCallback" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Requests the JSON response data is wrapped into a JavaScript function with that name. String not longer than 1024.]]></doc>
          </param>
          <param default="da" name="lang" required="false" style="query" type="xsd:string">
            <doc><![CDATA[The language of the journey planer. String not longer than 5.]]></doc>
          </param>
          <param name="input" required="true" style="query" type="xsd:string">
            <doc><![CDATA[Search for that token. String not longer than 512.]]></doc>
          </param>
          <param default="10" name="maxNo" required="false" style="query" type="xsd:int">
            <doc><![CDATA[Maximum number of returned stops. Range: 1-1000]]></doc>
          </param>
          <param default="ALL" name="type" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Type filter for location types.]]></doc>
          </param>
          <param name="locationSelectionMode" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Selection mode for locations.]]></doc>
          </param>
          <param default="false" name="withEquivalentLocations" required="false" style="query" type="xsd:int">
            <doc><![CDATA[Return equivalent locations.]]></doc>
          </param>
          <param default="S" name="restrictSelection" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Restrict allowed stations.]]></doc>
          </param>
          <param name="products" required="false" style="query" type="xsd:int">
            <doc><![CDATA[Decimal value defining the product classes to be included in the search. It represents a bitmask combining bit number of a product as defined in the HAFAS raw data. Values are retrievable by <<service_datainfo,Data Information service>>. Minimum of 0.]]></doc>
          </param>
          <param default="true" name="withProducts" required="false" style="query" type="xsd:int">
            <doc><![CDATA[Return locations with products.]]></doc>
          </param>
          <param name="productRepresentatives" required="false" style="query" type="xsd:int">
            <doc><![CDATA[If activated, only one representative of a location product per category is returned.]]></doc>
          </param>
          <param name="coordLat" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Latitude of centre coordinate.]]></doc>
          </param>
          <param name="coordLong" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Longitude of centre coordinate.]]></doc>
          </param>
          <param default="1000" name="r" required="false" style="query" type="xsd:int">
            <doc><![CDATA[Search radius in meter around the given coordinate if any. Minimum of 1.]]></doc>
          </param>
          <param name="refineId" required="false" style="query" type="xsd:string">
            <doc><![CDATA[In case of an refinable location, this value takes the ID of the refinable one of a previous result. String not longer than 512.]]></doc>
          </param>
          <param name="meta" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Filter by a predefined meta filter. If the rules of the predefined filter should not be negated, put ! in front of it. Multiple values are separated by comma if definded for POI filtering. String not longer than 512.]]></doc>
          </param>
          <param name="stations" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Filter for stations. Matches if the given value is prefix of any station ID. Multiple values are separated by comma. String not longer than 4096.]]></doc>
          </param>
          <param name="sattributes" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Filter locations by one or more attribute codes. Multiple attribute codes are separated by comma. If the attribute should not be part of the be location data, negate it by putting ! in front of it. String not longer than 1024.]]></doc>
          </param>
          <param name="sinfotexts" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Filter locations by one or more station infotext codes and values. Parameter structure is code|value. Multiple attribute codes are separated by comma. String not longer than 1024.]]></doc>
          </param>
          <param default="DIST_PERI" name="filterMode" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Filter modes for nearby searches.]]></doc>
          </param>
          <param name="poolId" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Filter locations by pool id (also known as Pool UIC code). Multiple values are separated by comma. To negate put ! in front of the value. String not longer than 8096.]]></doc>
          </param>
          <param default="true" name="withMastNames" required="false" style="query" type="xsd:int">
            <doc><![CDATA[Add masts to found stations.]]></doc>
          </param>
        </request>
        <response>
          <representation xmlns:proxy="http://hacon.de/hafas/proxy/hafas-proxy" element="proxy:LocationList"/>
        </response>
      </method>
    </resource>
  </resources>
</application>
