data/trainSearch.wadl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://wadl.dev.java.net/2009/02 wadl.xsd">
  <resources base="https://www.rejseplanen.dk/api/">
    <resource path="trainSearch">
      <method name="GET">
        <request>
          <param name="accessId" required="true" style="query" type="xsd:string">
            <doc><![CDATA[Access ID for identifying the requesting client. String not longer than 128.]]></doc>
          </param>
          <param name="aid" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Access ID that overrides the security value from the configuration. String not longer than 64.]]></doc>
          </param>
          <param name="requestId" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Request ID for identifying the request. String not longer than 2048.]]></doc>
          </param>
          <param name="format" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Requested response format. If not set, the Accept-Header is used. If both are missing application/xml is used]]></doc>
          </param>
          <param name="jsonpCallback" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Requests the JSON response data is wrapped into a JavaScript function with that name. String not longer than 1024.]]></doc>
          </param>
          <param default="da" name="lang" required="false" style="query" type="xsd:string">
            <doc><![CDATA[The language of the journey planer. String not longer than 5.]]></doc>
          </param>
          <param name="match" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Matching criteria like train name, number or both. String not longer than 128.]]></doc>
          </param>
          <param name="filters" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Filter definitions. Read additional document if available for your installation. String not longer than 1024.]]></doc>
          </param>
          <param name="stations" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Deprecated. Please use `station` or `uic`.

Filter for stations. Matches if the given value is prefix of any station in the itinerary. Multiple values are separated by comma. String not longer than 1024.]]></doc>
          </param>
          <param name="station" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Filter for station by extId. Matches if the given value part of at least one station in the itinerary. String not longer than 1024.]]></doc>
          </param>
          <param name="uic" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Filter for UIC prefix of stations. Matches if the given value part of at least one station id in the itinerary. Multiple values are separated by comma. String not longer than 1024.]]></doc>
          </param>
          <param name="operators" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Filter for operators. To filter multiple operators, separate the codes by comma.
If the operator should not be part of the be trip, negate it by putting ! in front of it. String not longer than 1024.]]></doc>
          </param>
          <param name="lines" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Filter for lines. To filter multiple lines, separate the names/numbers by comma.
If the line should not be part of the be trip, negate it by putting ! in front of it. String not longer than 1024.]]></doc>
          </param>
          <param name="infotexts" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Filter journeys by one or more custom infotext filters. Multiple infotexts are separated by comma. Use this to filter for trains: RT|112233,RT|445566 String not longer than 1024.]]></doc>
          </param>
          <param name="date" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Day of operation]]></doc>
          </param>
          <param name="time" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Time the service operates according to scheduled data. If not provided, the whole day is taken into account.]]></doc>
          </param>
          <param name="dateB" required="false" style="query" type="xsd:string">
            <doc><![CDATA[First day of period.]]></doc>
          </param>
          <param name="dateE" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Last day of period.]]></doc>
          </param>
          <param name="timeB" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Period start time the journey needs to cover partly at least.]]></doc>
          </param>
          <param name="timeE" required="false" style="query" type="xsd:string">
            <doc><![CDATA[Period end time the journey needs to cover partly at least.]]></doc>
          </param>
          <param default="false" name="showPassingPoints" required="false" style="query" type="xsd:int">
            <doc><![CDATA[Enables/disables the return of stops having no alighting and boarding in its passlist for each leg of the trip. Needs passlist enbaled.]]></doc>
          </param>
        </request>
        <response>
          <representation xmlns:proxy="http://hacon.de/hafas/proxy/hafas-proxy" element="proxy:JourneyDetailList"/>
        </response>
      </method>
    </resource>
  </resources>
</application>
